/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

:root {
   --light-orange: #d7b16a;
   --light-gray: #aeaeb0;
   --dark-gray: #101113;
   --transition: all 0.5s ease-in-out;
}

* {
   font-family: 'Montserrat', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   color: var(--light-gray);
   background-color: #000000;
   font-size: 1rem;
   font-weight: 300;
   line-height: 1.5;
   text-rendering: optimizeLegibility;
   scroll-behavior: smooth;
}

img {
   width: 100%;
}

a {
   text-decoration: none;
   color: #ffffff;
}

li {
   list-style-type: none;
}

button {
   cursor: pointer;
   outline: 0;
}

.nav-btn {
   background: transparent;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0.6rem 0;
   line-height: 1.25;
   font-weight: 400;
   text-transform: uppercase;
}

/* h2 {
   text-align: center;
   font-size: 2rem;
   font-weight: 300;
   color: #ffffff;
   border-bottom: 1px solid #ffffff;
} */

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* header */
.header {
   background-image: url(../images/header-bg.jpg);
   min-height: 100vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: stretch;
}

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #000000;
   z-index: 999;
}

.menu-toggle {
   font-size: 1.65rem;
   padding: 0.8rem 0;
   display: flex;
   justify-content: right;
   align-items: center;
}

.navbar-toggle {
   border: none;
   color: #ffffff;
}

.navbar-nav {
   margin: 0.2rem 0 0.6rem 0;
}

.nav-item {
   padding: 0.6rem 0;
}

.nav-link {
   text-transform: uppercase;
   font-size: 0.95rem;
   letter-spacing: 1.5px;
   font-weight: 400;
   transition: var(--transition);
}

.nav-link:hover {
   color: var(--light-orange);
}

.nav-item button {
   background-color: var(--light-orange);
   border: none;
   padding: 0.5rem .8rem;
}

.navbar-collapse {
   display: none;
}

.hero-div {
   flex: 1;
   flex-direction: column;
   text-align: center;
}

.hero-div h1 {
   font-size: 8rem;
   padding-bottom: 0.4rem;
   padding-top: 20rem;
   font-weight: 700;
}

.title {
   font-size: 2rem;
   font-weight: 300;
   color: #ffffff;
   text-align: center;
   margin: 0 0 10px;
   padding: 30px 0 10px;
   position: relative;
}

.title::after {
   background-color: #ffffff;
   bottom: 0;
   content: '';
   display: block;
   height: 1px;
   left: 50%;
   position: absolute;
   transform: translate(-50%, 0);
   width: 60px;
}

.synopsis-text {
   padding: 30px 50px 40px 50px;
}

.synopsis-text p {
   padding-top: 15px;
}

.synopsis {
   background-color: var(--dark-gray);
}

.trailer {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/policeman-04.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.trailer-img {
   margin: 0 auto;
   max-width: 800px;
}

.trailer .container {
   padding: 2rem 0 2rem 0;
}

/* reviews */
.reviews {
   background-color: var(--dark-gray);
   padding: 6rem;
}

.reviews .row {
   margin-top: 2.5rem;
}

.review-item {
   text-align: center;
}

.review-item p {
   font-size: 1.3rem;
   color: #ffffff;
   font-family: 'Times New Roman', serif;
   font-style: italic;
}

.review-item span {
   font-size: .8rem;
   margin-top: 1.5rem;
}

/* gallery */
.gallery {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/policeman-01.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.gallery-grid {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   gap: 10px;
   padding: 40px 0px 50px 0px;
}

.gallery-grid img {
   max-width: 300px;
}

/* cast */
.cast .row {
   margin-top: 2rem;
}

.cast-item {
   margin: 2rem 0;
}

.cast-img {
   position: relative;
}

.cast-icons {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   background: #ffffff;
   opacity: 0;
   transition: var(--transition);
}

.cast-icons a {
   color: #000000;
   width: 50px;
   height: 50px;
   transition: var(--transition);
}

.cast-icons a:hover {
   background-color: var(--light-orange);
   color: #ffffff;
}

.cast-img:hover .cast-icons {
   opacity: 1;
}

.cast-info {
   text-align: center;
   padding: 1.5rem;
   line-height: 1;
}

.cast-info h3 {
   font-size: 1.3rem;
   color: var(--light-gray);
}

.cast-info span {
   font-size: 0.85rem;
   letter-spacing: 1px;
   font-weight: 500;
   opacity: 0.7;
}

/* tickets */
.tickets {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/policeman-02.jpg);
   background-size: cover;
   min-height: 75vh;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.tickets .container {
   flex: 1;
   flex-direction: column;
   text-align: center;
   display: flex;
   justify-content: space-between;
}

.ticket-mid h2 {
   font-size: 5rem;
   padding-bottom: 0.4rem;
}

.tickets-btn {
   margin-top: 2.8rem;
}

.tickets button {
   border: none;
   color: #000000;
   background: var(--light-orange);
   padding: 0.8rem 2rem;
}

/* .tickets .container {
   display: flex;
} */
/* 
.ticket-top {
   margin-top: 0;
   flex: 1;
}

.ticket-mid {
   flex: 1;
}

.ticket-bottom {
   align-items: flex-end;
   flex: 1;
} */

/* contact */
.contact {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/policeman-09-cover.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.form {
   width: 100%;
   max-width: 820px;
   height: 500px;
   margin: 0 auto;
   padding-top: 3.5rem;
}

.input-row {
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
}

.input-row-full {
   margin-top: 4rem;
}

input {
   width: 100%;
   border: none;
   border-bottom: 1px solid #ffffff;
   background-color: transparent;
}

textarea {
   width: 100%;
   border: none;
   border-bottom: 1px solid #ffffff;
   background-color: transparent;
}

.input-group button {
   border: none;
   color: #000000;
   background: var(--light-orange);
   padding: 0.6rem 2rem;
   text-transform: uppercase;
   margin-top: 2rem;
}

/* footer */
.footer {
   text-align: center;
   background-color: var(--dark-gray);
   color: var(--light-gray);
   padding: 6rem 0 6rem 0;
   height: 40vh;
}

.footer-links {
   display: flex;
   justify-content: center;
   margin-top: 1.6rem;
}

.footer-links a {
   color: var(--light-gray);
   width: 50px;
   height: 50px;
   margin: 0 0.2rem;
   border-radius: 50%;
   transition: var(--transition);
}

.footer-links a:hover {
   background: var(--light-orange);
   color: var(--dark-gray);
}

.footer-text a:hover {
   color: var(--light-orange);
   cursor: pointer;
}

/* ====== MEDIA QUERIES ===== */
@media (max-width: 768px) {
   .cast-item {
      margin: 0;
   }
}

@media screen and (min-width: 992px) {
   .navbar {
      background: transparent;
      margin-top: 1.4rem;
   }

   .navbar .container {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .navbar-toggle {
      display: none;
   }

   .navbar-collapse {
      display: block !important;
   }

   .navbar-nav {
      display: flex;
      margin: 0;
      align-items: center;
   }

   .nav-item {
      margin-left: 1.8rem;
   }

   /* navbar change */
   .cng-navbar {
      margin-top: 0;
      background: #000000;
   }
}

@media screen and (min-width: 1200px) {
   .hero-div h1 {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
   }
}