/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

:root {
   --light-orange: #d7b16a;
   --light-gray: #aeaeb0;
   --dark-gray: #101113;
}

* {
   font-family: 'Montserrat', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   color: var(--light-gray);
   background-color: #000000;
   font-size: 1rem;
   font-weight: 300;
   line-height: 1.5;
   text-rendering: optimizeLegibility;
   scroll-behavior: smooth;
}

img {
   width: 100%;
}

a {
   text-decoration: none;
   color: #ffffff;
}

li {
   list-style-type: none;
}

button {
   cursor: pointer;
   outline: 0;
}

.nav-btn {
   background: transparent;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0.6rem 0;
   line-height: 1.25;
   font-weight: 400;
   text-transform: uppercase;
}

/* h2 {
   text-align: center;
   font-size: 2rem;
   font-weight: 300;
   color: #ffffff;
   border-bottom: 1px solid #ffffff;
} */

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* header */
.header {
   background-image: url(../images/header-bg.jpg);
   min-height: 100vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: stretch;
}

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #000000;
   z-index: 999;
}

.menu-toggle {
   font-size: 1.65rem;
   padding: 0.8rem 0;
   display: flex;
   justify-content: right;
   align-items: center;
}

.navbar-toggle {
   border: none;
   color: #ffffff;
}

.navbar-nav {
   margin: 0.2rem 0 0.6rem 0;
}

.nav-item {
   padding: 0.6rem 0;
}

.nav-link {
   text-transform: uppercase;
   font-size: 0.95rem;
   letter-spacing: 1.5px;
   font-weight: 400;
   transition: var(--transition);
}

.nav-link:hover {
   color: var(--light-orange);
}

.nav-item button {
   background-color: var(--light-orange);
   border: none;
   padding: 0.5rem .8rem;
}

.navbar-collapse {
   display: none;
}

.hero-div {
   flex: 1;
   flex-direction: column;
   text-align: center;
}

.hero-div h1 {
   font-size: 8rem;
   padding-bottom: 0.4rem;
   padding-top: 20rem;
   font-weight: 700;
}

.title {
   font-size: 2rem;
   font-weight: 300;
   color: #ffffff;
   text-align: center;
   margin: 0 0 10px;
   padding: 30px 0 10px;
   position: relative;
}

.title::after {
   background-color: #ffffff;
   bottom: 0;
   content: '';
   display: block;
   height: 1px;
   left: 50%;
   position: absolute;
   transform: translate(-50%, 0);
   width: 60px;
}

.synopsis-text {
   padding: 30px 50px 40px 50px;
}

.synopsis-text p {
   padding-top: 15px;
}

.synopsis {
   background-color: var(--dark-gray);
}

.trailer {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/policeman-01.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.trailer-img {
   margin: 0 auto;
   max-width: 800px;
}

/* reviews */
.reviews {
   background-color: var(--dark-gray);
   padding: 1.5rem 4rem 4rem 4rem;
}

.reviews .row {
   margin-top: 2.5rem;
}

.review-item {
   text-align: center;
}

.review-item p {
   font-size: 1.3rem;
   color: #ffffff;
   font-family: 'Times New Roman', serif;
   font-style: italic;
}

.review-item span {
   font-size: .8rem;
   margin-top: 20px;
}

/* gallery */
.gallery {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/policeman-01.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.gallery-grid {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   gap: 10px;
   padding: 40px 0px 50px 0px;
}

.gallery-grid img {
   max-width: 300px;
}

/* ====== MEDIA QUERIES ===== */
/* @media (max-width: 800px) {
   .gallery-img img {
      width: 50%;
   }
} */

@media screen and (min-width: 992px) {
   .navbar {
      background: transparent;
      margin-top: 1.4rem;
   }

   .navbar .container {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .navbar-toggle {
      display: none;
   }

   .navbar-collapse {
      display: block !important;
   }

   .navbar-nav {
      display: flex;
      margin: 0;
      align-items: center;
   }

   .nav-item {
      margin-left: 1.8rem;
   }

   /* navbar change */
   .cng-navbar {
      margin-top: 0;
      background: #000000;
   }
}

@media screen and (min-width: 1200px) {
   .hero-div h1 {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
   }
}